body {
  background-image: linear-gradient(#6F7EE8,#86C5FF);
  color: white;
  font-family: Monaco, monospace;
  margin: 0px;
}
::placeholder {
  color: white;
}

/* Top caution bar */
.cautionBar {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  font-family: Arial Black; 
  background-image: linear-gradient(135deg, #000000 25%, #ffee00 25%, #ffee00 50%, #000000 50%, #000000 75%, #ffee00 75%, #ffee00 100%);
  background-size: 42.43px 42.43px;
  box-shadow: 0px 0px 5px black inset;
}
.cautionBar div {
  position: relative;
  width: fit-content;
  height: 28px;
  left: 50%;
  transform: translate(-50%,0%);
  padding-top: 2px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffee00;
  color: #000000;
  box-shadow: 0px 0px 5px black inset;
  clip-path: polygon(28px 0, 100% 0, 600px 100%, 0 100%);
  font-size: 18px;
}
/* The top bar on each page */
.topbar {
  position: relative;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 5px;
  border-color: darkgray;
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#userInfo {
  position: relative;
  float: right;
  margin-left: 15px;
  font-size: 30px;
  line-height: 60px;
  height: 60px;
  width: auto;
}
#insuranceInfo {
  position: relative;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 20px;
  height: 50px;
  width: auto;
}
#contactInfo {
  position: relative;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 20px;
  height: 50px;
  width: auto;
}
#buttonContainer {
  width: auto;
  position: relative;
  margin-left: auto;
  right: 0px;
  height: 100%;
}
#buttonContainer button{
  color: gray;
  font-family: Monaco, monospace;
  margin: 0px;
  margin-left: 5px;
  border-width: 0px;
  float: right;
  height: 100%;
}
#buttonContainer button:hover{
  color: white;
  background-color: gray;
}
#buttonContainer input {
  cursor: pointer;
  font-family: Monaco, monospace;
  font-size: 20px;
  color: white;
  height: 45px;
  border: none;
  background-color: gray;
  border-bottom: 4px solid white;
  position: relative;
  top: 50%;
  transform: translate(0%,-50%);
  width: auto;
  max-width: 500px;
  min-width: 130px;
}
/* for every single content panel */
#content {
  top: 140px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: calc(100vh - 140px);
  overflow: auto;
}
#content div {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}
table{
  border-radius: 15px;
  padding: 5px;
  background-color: gray;
  text-align: center;
  border: 5px solid darkgray;
  border-radius: 15px;
  
}
th{
  font-size: 30px;
  border-bottom: 5px solid darkgray;
}
td {
  padding: 5px;
  text-align: center;
}
table button{
  font-size: 15px;
  border: 0px;
  font-family: Monaco, monospace;
  color: gray;
}
table button:hover{
  color: white;
  background-color: gray;
}
/* login window only */
.loginPanel {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: darkgray;
  margin: 0;
  background-color: gray;
  width: 350px;
  height: fit-content;
  text-align: center;
}
.loginText {
  position: relative;
  left: 0px;
  top: 0px;
  line-height: 32px;
  width: 338px;
  white-space: nowrap;
  height: 64px;
  margin: 5px;
  text-align: left;
  font-size: 30px;
}
.loginForm {
  font-size: 20px;
  margin: 5px;
  text-align: left;
}
.loginForm input[type=text] {
  font-family: Monaco, monospace;
  font-size: 20px;
  color: white;
  height: 45px;
  width: 100%;
  border: none;
  background-color: gray;
  border-bottom: 4px solid white;
}
.loginForm input[type=button] {
  font-family: Monaco, monospace;
  font-size: 20px;
  color: white;
  height: 45px;
  width: 100%;
  background-color: gray;
  border: 4px solid white;
  border-radius: 8px;
}
.loginForm input:hover {
  background-color: darkgray;
}
/* For the Patient window only*/
.billingForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: darkgray;
  width: 500px;
}
.billingText {
  position: relative;
  left: 0px;
  top: 0px;
  line-height: 32px;
  width: auto;
  height: auto;
  margin: 5px;
  text-align: center;
  font-size: 30px;
}
.billingLabel {
  margin-left: 5px;
  font-size: 20px;
}
#billingType {
  font-family: Monaco, monospace;
  font-size: 18px;
  text-align: center;
  position: relative;
  left: 5px;
  height: 30px;
  width: 40%;
}
.billingForm input[type=button] {
  position: relative;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, 0%);
  font-family: Monaco, monospace;
  font-size: 20px;
  color: white;
  height: 45px;
  width: auto;
  background-color: gray;
  border: 4px solid white;
  border-radius: 8px;
}
.billingForm input[type=button]:hover {
  background-color: darkgray;
}
.billingOption {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80%;
  left: 50%;
  transform: translate(-50%,0%);
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-width: 5px;
  border-color: darkgray;
}



/* for all form things*/
.form {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

#formData {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
  border-style: solid;
  border-width: 5px;
  border-color: darkgray;
}